.inner{
  max-width: 360px;
  margin: 0 auto;
}

.mapContainer{
    margin: 0 auto;
}
.kakaomap-wrap{
    position: absolute;
}
.kakaomap-wrap> h1{
    /* padding: 0; */
    /* margin: 0; */
}
.cate-btn-wrap{
    position: absolute;
    /* top: 10px; */
    right: 20px;
    padding-top: 20px;
    z-index: 50;
}

.cate-btn-wrap>button{
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px 0;
    background-color: #333;
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    box-sizing: border-box;
}
.cate-btn-wrap>button.active{
    background-color: #F77777;
    color: #fff;
}

/* 모달의 배경 (모달이 열릴 때 배경을 흐리게 만듭니다) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    z-index: 80;
  }

  .mymaphome-wrap{
    margin: 0 auto;
    height: 763px;
    background: linear-gradient(#F4F7FC, #D6EBFF);
    font-family: 'NanumSquareNeo',sans-serif ;
  }
  /* 버튼 스타일 공통 */
  .mymap-btn{
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #476EFF;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    transition: 0.3s;
  }
  .mymap-btn:hover{
    background-color: #064AFF;
  }

  .maphome-btn > button{
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #476EFF;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
  }

.maphome-btn > button:hover{
  background-color: #064AFF;
}
  .maphome-btn > span{
    font-size: 14px;
    color: #656565;
  }
 
  .maphome_textwrap > p{
    margin: 0;
  }
  .maphome_textwrap > p{
    font-size: 34px;
    font-family: 'NanumSquareNeoExtraBold', sans-serif;
    font-weight: bold;
    margin: 0;
  }
  .maphome_textwrap > p:last-child{
    font-size: 60px;
    color: #476EFF;
  }

  .mymaphome-wrap > div{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    margin-bottom: -30px;
  }

  /* MyCategoryRank.jsx */
  .inner{
    max-width: 360px;
  }
  .categoryRank-wrap{
    /* height: 763px; */
    height: 790px;
    box-sizing: border-box;
  }
  .categoryRank-title{
    padding: 40px 0 30px;
    line-height: 1.5;
  }
  .categoryRank-title p,
  .categoryRank-title h3
  {
    margin: 0;
  }
  .categoryRank-title p{
    font-size: 14px;
    color: #ccc;
  }
  .categoryRank-title h3{
    font-size: 24px;
    letter-spacing: -1px;
  }
  .rank-list-wrap{
    height: 400px;
    overflow-y: scroll;
  }
  .rank-list{
    padding: 0;
  }
  .rank-list>li{
    background-color: #F5F5F5;
    border-radius: 25px;
    padding: 10px;
    margin: 25px 0;
    height: 90px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .rank-list>li>div{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 15px;
  }
  .rank-list>li>div p{
    font-weight: bold;
    font-size: 18px;
  }
  .ranklist-btn{
    position: relative;
    bottom: 30px
  }
  .rank-list>li.first{
    background-color: #F4F7FC;
  }
  .rank-list>li.first p{
    color: #064AFF;
  }
  .kakaomap-wrap>div:nth-child(2){
    height: 763px !important;
  }
  .storeRank-link{
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 100;
  }