.inputDiv {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.inputDiv input {
    /* border: 1px solid red; */
    border: none;
    text-align: right;
    margin: 0 auto;
}

input:focus {
	outline: none;
}