.ex_set_null_wrapper {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 90px;
    /* border: 1px solid red; */
}

.ex_set_chart {
    width: 65%;
    height: 250px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.ex_set_chart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ex_set_money {
    width: 70%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    left: 65px;
    bottom: 160px;
    /* border: 1px solid blue; */
}

.ex_set_money img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ex_set_null {
    width: 100%;
    height: 50px;
    margin-top: -110px;
    /* border: 1px solid green; */
}

.ex_set_null p {
    /* font-family: 'NanumSquareNeoBold'; */
    color: #CCCCCC;
    font-size: 15px;
    line-height: 50px;
}