.exCur_title {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.exCur_title h4 {
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-size: 19px;
}

.exCur_wrapper {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: left;
    /* border: 1px solid red; */
}

.ex_cur_img {
    width: 40px;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.ex_cur_img img {
    width: 80%;
    height: 80%;
}

.ex_cur_text {
    width: 80%;
    height: 40px;
    float: left;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.ex_cur_text h5 {
    line-height: 40px;
}

.ex_cur_nation {
    width: 80%;
    height: 40px;
    float: left;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.ex_cur_nation h5 {
    line-height: 40px;
}

.exCur_div {
    width: 100%;
    height: 40px;
    float: left;
    text-align: left;
    /* border: 1px solid red; */
}

.exCur_div input {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 16px;
    padding-left: 10px;
    border: none;
    /* border: 1px solid red; */
}

input:focus {
	outline: none;
}

.exAmt_wrapper {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    /* border: 1px solid red; */
}

.exAmt_wrapper p {
    font-size: 16px;
}

.exAmt_text {
    font-family: 'NanumSquareNeoExtraBold';
    /* padding-left: 10px; */
}

.exRate_wrapper {
    font-family: 'NanumSquareNeoBold';
    width: 82%;
    height: 250px;
    margin: 0 auto;
    margin-top: 60px;
    /* border: 1px solid red; */
}

.exRate_table {
    width: 100%;
    height: 80%;
    margin-top: -10px;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #BFBFBF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.exRate_col {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* border: 1px solid green; */
}

.exRate_left_text {
    /* width: 100px; */
    float: left;
    text-align: left;
    line-height: 25px;
    white-space: nowrap;
    /* border: 1px solid red; */
}

.exRate_right_text {
    /* width: 200px; */
    float: right;
    color: #476EFF;
    text-align: right;
    line-height: 25px;
    white-space: nowrap;
    /* border: 1px solid red; */
}

.exRate_line {
    width: 100%;
    height: 1.5px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #BFBFBF;
}

.exRate_plus_wrapper {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
}

.exRate_plus_btn {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #476EFF;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.exRate_plus_btn:hover {
    transform: translateY(-2px);
}

/* 반응형 css */
@media screen and (max-Width: 414px) { /* iPhone 12Pro */
    .exCur_wrapper {
        margin-top: 0;
    }

    .exAmt_wrapper {
        margin-top: 20px;
    }

    .exCur_title {
        margin-top: 5px;
    }

    .exCur_title h4 {
        font-size: 17px;
    }

    .exRate_wrapper {
        margin-top: 45px;
    }

    /* .exRate_left_text {
        width: 75px;
    } */

    .exRate_left_text,
    .exRate_right_text{
        margin: 0;
        font-size: 13px;
        white-space: nowrap;
    }
}