.success_wrapper {
    width: 100%;
    height: 420px;
    padding-top: 80px;
    background-color: #E5EBFF;
}

.success_card {
    width: 50%;
    height: 130px;
    margin: 0 auto;
    /* margin-top: 40px; */
    /* border: 1px solid red; */
}

.success_card img {
    width: 100%;
    height: 100%;
}

.success_money {
    width: 100px;
    height: 100px;
    position: relative;
    left: 275px;
    bottom: 70px;
    /* border: 1px solid red; */
}

.success_money img {
    width: 100%;
    height: 100%;
}

.success_title {
    margin-top: -20px;
}

.success_wrapper h3 {
    font-family: 'NanumSquareNeoExtraBold';
    line-height: 30px;
}

.success_rate {
    font-family: 'NanumSquareNeoExtraBold';
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}

.left_p {
    width: 100px;
    float: left;
    text-align: left;
    line-height: 25px;
}

.right_p {
    width: 200px;
    float: right;
    /* color: #476EFF; */
    text-align: right;
    line-height: 25px;
}

.success_btn_wrapper {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
    width: 85%;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.detail_btn {
    width: 165px;
    height: 50px;
    float: left;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.detail_btn:hover {
    transform: translateY(-2px);
}

.check_btn {
    width: 165px;
    height: 50px;
    float: right;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #476EFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.check_btn:hover {
    transform: translateY(-2px);
}