.exchange_wrapper {
    width: 100%;
    height: 500px;
    background-color: #E5EBFF;
}

.exchange_title {
    width: 100%;
    height: 60px;
    padding-top: 30px;
    /* border: 1px solid red; */
}

.exchange_title h5 {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.exchange_content {
    width: 100%;
    height: 40px;
    margin-top: 60px;
    /* border: 1px solid red; */
}

.exchange_content p {
    font-family: 'NanumSquareNeoBold';
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #8F959E;
}

.exchange_card {
    width: 50%;
    height: 130px;
    margin: 0 auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}

.exchange_card img {
    width: 100%;
    height: 100%;
}

.exchange_money {
    width: 100px;
    height: 100px;
    position: relative;
    left: 275px;
    bottom: 70px;
    /* border: 1px solid red; */
}

.exchange_money img {
    width: 100%;
    height: 100%;
}

.btn_wrapper {
    font-family: 'NanumSquareNeoBold';
    font-size: 15px;
    width: 100%;
    height: 60px;
    margin-top: -20px;
    /* border: 1px solid red; */
}

.info_btn {
    width: 140px;
    height: 50px;
    margin-right: 20px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
    /* border: 1px solid red; */
}

.info_btn:hover {
    transform: translateY(-2px);
}

.exchange_btn {
    width: 140px;
    height: 50px;
    margin-left: 20px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #476EFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
    /* border: 1px solid red; */
}

.exchange_btn:hover {
    transform: translateY(-2px);
}

.set_title {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: left;
    /* border: 1px solid red; */
}

.set_title h5 {
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.select_wrapper {
    font-family: 'NanumSquareNeoBold';
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.set_btn {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 7px;
    border: 1px solid #476EFF;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 10px 0px;
}

.set_btn p {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}

.set_p {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
    color: #476EFF;
}

.set_btn img {
    position: relative;
    position: absolute;
    right: 20px;
    bottom: 40px;
    /* border: 1px solid red; */
}

.set_btn:hover {
    transform: translateY(-2px);
}