.ex_setting_wrapper {
    width: 80%;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.ex_setting_table_box {
    width: 80%;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.ex_setting_table {
    width: 100%;
    height: 280px;
    padding: 30px;
    text-align: left;
    border-radius: 7px;
    border: 1px solid #476EFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.ex_setting_col {
    width: 100%;
    height: 70px;
}

.ex_setting_p {
    color: #CCCCCC;
    font-size: 13px;
    margin-bottom: 5px;
}

.ex_setting_box_text {
    margin-top: 50px;
}

.ex_setting_btn_box {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
    width: 100%;
    height: 60px;
    margin-top: 45px;
    /* border: 1px solid red; */
}

.set_setting_info_btn {
    /* width: 40%;
    height: 100%;
    float: left;
    border-radius: 7px;
    border: none;
    color: #CCCCCC;
    text-decoration-line: underline;
    background-color: white; */

    width: 165px;
    height: 50px;
    float: left;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.set_setting_info_btn:hover {
    transform: translateY(-2px);
}

.set_setting_home_btn {
    /* width: 40%;
    height: 100%;
    float: right;
    border-radius: 7px;
    border: none;
    color: #476EFF;
    text-decoration-line: underline;
    background-color: white; */

    width: 165px;
    height: 50px;
    float: right;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #476EFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px;
}

.set_setting_home_btn:hover {
    transform: translateY(-2px);
}