.region-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    margin-top: 80px;
}

.region-item {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    white-space: nowrap;
}
