.email-container {
    max-width: 600px;
    margin: 20px auto;
    height: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid red;
}
h1 {
    color: #333333;
}
p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
}
.code {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0046FF;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.mail-container{
    margin-top: 40px;
    padding: 100px;
    /* border: 1px solid; */
    border: none;
    border-top: 2px green;
    border-bottom: 1px black;
}